@model List<ElementKoszykaForView>

@{
    ViewData["Title"] = "Koszyk";
}

<style>
    .button-link {
        display: inline-block;
        background: linear-gradient(to right, #1a1a1a, #2c2c2c, #4d4d4d, #666666);
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
        margin-top: 10px;
        min-width: 490px;
    }

        .button-link:hover {
            background: linear-gradient(to right, #333, #444, #666, #888);
            color: #fff;
        }

    .background-gardient {
        background: linear-gradient(to right, #f0f0f0, #fff);
    }

</style>

<a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Sklep" asp-action="Sklep">Wroc do sklepu</a>

<div class="text-center">
    <h2 class="display-4 mb-4">Koszyk</h2>
</div>

<div id="cartContent" class="container">
    @if (Model.Count > 0)
    {
        <ul class="list-group container">
            @foreach (var elementKoszyka in Model)
            {
                <li class="list-group-item background-gardient">
                    <div class="mb-4 background-gardient">
                        <div class="background-gardient">
                            <h5 class="card-title">@elementKoszyka.TowarNazwa</h5>
                            <p class="card-text">Ilość: @elementKoszyka.Ilosc</p>
                            <p class="card-text">Cena: @elementKoszyka.TowarCena</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="text-center">
         <a asp-action="ZlozZamowienie" asp-controller="Zamowienia" class="button-link">Zloz zamowienie</a>
        </div>
    }
    else
    {
        <div class="text-center">
            <p>Twoj koszyk jest pusty!</p>
        </div>
    }
</div>