@model List<TowarZamowienium>

@using SklepInternetowyServiceReference
@{
    ViewData["Title"] = "Szczegoly zamowienia";
}

<style>
    .list-group {
        box-shadow: none;
    }
    .card-img {
        object-fit: contain;
        max-height: 400px;
        max-width: 100%;
    }
</style>

<div class="container">
    <div class="row mt-3 mb-3">
        <a class="col-2 text-dark fw-bold mb-4 btn btn-light" asp-area="" asp-controller="Zamowienia" asp-action="Zamowienia">Wroc do listy zamowien</a>
    </div>
</div>


<div class="text-center">
    <h3 class="display-4 mb-4 mt-4">Produkty znajdujace sie w zamowieniu: </h3>
</div>

<div id="cartContent" class="container">
        <ul class="list-group container">
            @foreach (var produkt in Model)
            {
                <li class="list-group-item background-gardient mb-2">
                    <div class="mb-4 background-gardient">
                        <div class="background-gardient">
                            <h5 class="card-title">@produkt.NazwaTowaru</h5>
                            <p class="card-text">Ilość: @produkt.Ilosc</p>
                            <p class="card-text">Cena za sztuke: @produkt.Cena €</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
</div>
