@model List<TowarZamowienium>

@using SklepInternetowyServiceReference
@{
    ViewData["Title"] = "Szczegoly zamowienia";
}

<style>
   
</style>

<a class="nav-link text-dark fw-bold mb-5" asp-area="" asp-controller="Sklep" asp-action="Sklep">Wroc do sklepu</a>

<div class="text-center mt-5">
    <h4 class="display-4 mb-4">Dziekujemy za zlozenie zamowienia!</h4>
</div>
<div class="text-center">
    <p class="mb-4"> Potwierdzenie zostalo wyslany na Twoj adres E-mail!</p>
    <p class="mb-4"> Przejdz do zakladki Moje Zamowienia by w kazdej chwili sprawdzic status Twoich zamowien!</p>
</div>
