@{
    ViewData["Title"] = "Login";
}

<style>
    body {
        background: linear-gradient(to right, #f0f0f0, #fff);
        color: #333;
    }
</style>

<div class="text-center text">
    <h1 class="display-4">Witamy!</h1>
    <br />
    <div class="card">
        <p class="fw-bold mb-4 mt-4">Aby rozpoczac zaloguj sie lub zarejestruj!</p>
        <p> wojtek@wojtek.pl wojtek - user</p>
        <p> pati@pati.pl - pati - admin</p>
    </div>
</div>