@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <h1 class="display-4">Glowna strona!</h1>
    <h1 class="display-4">Aby rozpoczac zaloguj sie lub zarejestruj!</h1>
    <p> wojtek@wojtek.pl wojtek - user</p>
    <p> pati@pati.pl - pati - admin</p>
</div>