@{
    ViewData["Title"] = "Login";
}

<style>
    body {
        background: url('https://tse2.mm.bing.net/th?id=OIP.xo7kJ5SSq8_ecPGLwiyUuAHaET&pid=Api&P=0&h=220');
        background-size: cover;
    }

    .background-transient {
        background-color: rgba(255, 255, 255, 0.6);
    }
</style>

<div class="card p-5 background-transient text-center text">
    <h1 class="display-4">Witamy!</h1>
    <br />
    <div class="card">
        <p class="fw-bold mb-4 mt-4">Aby rozpoczac zaloguj sie lub zarejestruj!</p>
        <p> wojtek@wojtek.pl wojtek - user</p>
        <p> pati@pati.pl - pati - admin</p>
    </div>
</div>