@{
    ViewData["Title"] = "Moje konto";
}

<div class="text-center">
    <h1 class="display-4 mb-4 mt-4">Moje konto</h1>
</div>

<div class="container">
    <div class="row">
        <a class="btn btn-light col-12 mt-4 fw-bold" asp-area="" asp-controller="Konto" asp-action="Konto" title="Manage">Moje zamowienia</a>
        <a class="btn btn-light col-12 mt-4 fw-bold" asp-area="" asp-controller="Konto" asp-action="Konto" title="Manage">Moje dane</a>
    </div>
</div>

@* <li class="nav-item"> *@
@*     <a class="nav-link text-dark" asp-area="" asp-controller="Zamowienia" asp-action="Zamowienia">Moje zamowienia</a> *@
@* </li> *@
@* <li class="nav-item"> *@
@*     <a class="nav-link text-dark" asp-area="" asp-controller="Konto" asp-action="Konto">Moje konto</a> *@
@* </li> *@